<nav class="main-menu">
    <ul>
        <li>
            <a href="/admin/kahvetablosu">
                <i class="fa bi bi-cup-hot-fill"></i>
                <span class="nav-text">
                    KAYITLI KAHVELER
                </span>
            </a>
          
        </li>
        <li>
            <a href="/admin/kahveekle">
                <i class="fa bi bi-plus-lg"></i>
                <span class="nav-text">
                    KAHVE EKLE
                </span>
            </a>
          
        </li>
        <li class="has-subnav">
            <a href="/admin/kahveguncelle">
                <i class="fa bi bi-arrow-bar-up"></i>
                <span class="nav-text">
                    KAHVE GUNCELLE
                </span>
            </a>
            
        </li>
        <li class="has-subnav">
            <a href="/admin/kahvesil">
                <i class="fa bi bi-file-earmark-x-fill"></i>
                <span class="nav-text">
                    KAHVE SİL
                </span>
            </a>
            
        </li>
        <li class="has-subnav">
            <a href="/admin/kullaniciekle">
               <i class="fa fa-folder-open fa-2x"></i>
                <span class="nav-text">
                    KULLANICI EKLE
                </span>
            </a>
           
        </li>
        <li>
            <a href="/admin/kullaniciguncelle">
                <i class="fa fa-bar-chart-o fa-2x"></i>
                <span class="nav-text">
                    KULLANICI GUNCELLE
                </span>
            </a>
        </li>
        <li>
            <a href="/admin/kullanicisil">
                <i class="fa bi bi-person-dash-fill"></i>
                <span class="nav-text">
                   KULLANICI SIL
                </span>
            </a>
        </li>
    </ul>
    <ul class="logout">
        <li>
           <a href="/giris/logout">
                 <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>  
    </ul>
</nav>